**/logs
**/logs/debug.log
*.log
/debug.log
logs
/FileContentIndex
Version.cs
*.suo
*TaxeiaAnaptuksi_Gerovasilis_Kypraios.exe.config
*System.Data.SQLite.Linq.dll
*TaxeiaAnaptuksi_Gerovasilis_Kypraios.pdb
*TaxeiaAnaptuksi_Gerovasilis_Kypraios.exe
*System.Data.SQLite.EF6.dll
*EntityFramework.dll
*AxInterop.WMPLib.dll
*System.Data.SQLite.dll
*Interop.WMPLib.dll
*obj/Debug/DesignTimeResolveAssemblyReferences.cache
.vs/TaxeiaAnaptuksi_Gerovasilis_Kypraios/v17/.suo
*/FileContentIndex
*/obj/Debug/DesignTimeResolveAssemblyReferences.cache
*/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/.vs/**/
.vs/**/suo
/.vs/**
*obj/Debug/DesignTimeResolveAssemblyReferences.cache
*obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

